/* src/styles/Carousel.css */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 24rem; /* Set a height for the carousel */
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide > div {
  min-width: 100%;
  height: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}
